.body{
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(211, 222, 222);
}

.nav-bar{
    margin: 20px;
}

.footer-body{
    float: right;
}

#footer{
    text-align: center;
    color: white;
    background-color: darkblue;
}
