*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(248, 218, 199, 0.221);
}
}

.container-fluid{
    background-color: rgba(1, 24, 7, 0.128);
}

.heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: rgb(1, 16, 1);
}

.small-container{
    max-width: 1000%;
    margin: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.single-product{
    margin-top: 80px;
}

.small-img-row{
    display: flex;
    justify-content: space-around;
}

.col-2 img{
    max-width: 1000% ;
    padding: 50px 0;
}

.small-img-col{
    flex-basis:54%
    cursor: pointer;
}

.single-product .col-2 img{
    padding:0;
}

.single-product .col-2{
    padding: 20px;
}

.col-2{
    flex-basis: 50%;
    line-height: 60px;
    margin: 20px 10;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 40px;
    height: 30px;
    margin-right: px;
    border: rgb(44, 224, 44)
}

.single-product .fa{
    color:rgb(109, 206, 45)
    margin-left: 10px;
}

.btn{
    display: inline-block;
    background-color: rgb(8, 41, 112);
    color: white;
    border-radius: 30px;
    transition: 1s;
}
.btn:hover{
    background-color: rgb(72, 105, 164);
}

#footer{
    text-align: center;
    color: white;
    background-color: darkblue;
}